@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "./partials/angucomplete";
//custom css goes below here
body, html {
    background-color: #EDEFED;
}

.mainBG {
    background-image: url('../../images/airplane.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 470px;
    .text-white {
        color:white;
        text-shadow: black 0.1em 0.1em 0.2em;
    }
}

input::-webkit-calendar-picker-indicator {
    display: none;
}

//prevent blinking template
[ng\:cloak],
[ng-cloak],
.ng-cloak {
    display: none;
}

//google map
.angular-google-map-container {
    height: 400px;
}
