@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "./partials/angucomplete";

//custom css goes below here

input::-webkit-calendar-picker-indicator {
  display: none;
}

//prevent blinking template
[ng\:cloak], [ng-cloak], .ng-cloak {
    display: none;
}

//google map
.angular-google-map-container { height: 400px; }

